
#selfie{
    border: 7px solid orange;
    width: 150px;
    border-radius: 50%;
    height: auto;
    text-align: center;
  }
  
  #about{
    color:black;
    text-align: center;
    margin: 70px;
    border: 5px dotted orange;
    border-right:none; 
    border-left:none;
    text-size-adjust: 20px;
    font-family: papyrus;
  }
  #hobbies{
    color:black;
    text-align: center;
    margin: 70px;
    border: 5px dotted orange;
    border-right:none; 
    border-left:none;
    text-size-adjust: 20px;
    font-family: papyrus;
  }
  .title3{
    text-size-adjust: 30px;
    font-family: papyrus;
    font-weight: bold;
  }
  
  .title1{
    text-size-adjust: 40px;
    font-family: papyrus;
    font-weight: bolder;
    color-adjust: orange;
    color:orange;
  }
  
  #body{
    background-color:rgb(241, 235, 224);
    border: 5px dotted orange;
  }